#modal {
    display: none;
    z-index: 10000;
}
#modal.show {
    display: block;
}
body.active {
    overflow: hidden;
}
.overlay-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    opacity: 75%;
    position: fixed;
    z-index: 100;
}
.modal-gallery {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-gallery .btn-close {
    background: transparent;
    border: none;
    margin: auto;
    margin-bottom: 20px;
    width: 60%;
    cursor: pointer;
}
.btn-close #close-icon {
    float: right;
}
.modal-gallery .content {
    margin: auto;
    width: 60%;
    height: 60%;
}
.preview {
    width: 100%;
    height: 100%;
    border-radius: 14px;
}
.preview-img {
    position: relative;
}
.preview-img button {
    width: 56px;
    height: 56px;
    border-radius: 50px;
    border: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-img button svg {
    margin: auto;
}
.preview-img button path {
    transition: .5s;
}
.preview-img button:hover path {
    stroke: var(--main-color);
}
.preview-img .btn-next,
.preview-img .btn-prev {
    top: 45%;
    position: absolute;
}
.preview-img .btn-prev {
    left: -28px;
}
.preview-img .btn-next {
    right: -28px;
}
.slider {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
}
.slider .sliders {
    overflow: hidden;
}
.slider .sliders-img {
    width: 80px;
    border-radius: 8px;
}
.sliders-overlay {
    background-color: white;
    opacity: 60%;
}